a:link {
	color: #007bff; /* Default link color */
	text-decoration: none; /* Optional: Removes underline */
}

a:visited {
	color: #007bff; /* Keeps the color the same even after being visited */
}

a:hover {
	color: #b30095; /* Color when hovered */
}

a:active {
	color: #665300; /* Color when clicked */
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content {
	width: fit-content;
	text-align: center;
}
.content a :hover {
	color: #b30095;
}
.content a :visited {
	color: #665300;
}
.logout {
	position: fixed;
	right: 0;
	z-index: 9999;
}
