a:link {
	color: #007bff; /* Default link color */
	text-decoration: none; /* Optional: Removes underline */
}

a:visited {
	color: #007bff; /* Keeps the color the same even after being visited */
}

a:hover {
	color: #b30095; /* Color when hovered */
}

a:active {
	color: #665300; /* Color when clicked */
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content {
	width: fit-content;
	text-align: center;
}
.content a :hover {
	color: #b30095;
}
.content a :visited {
	color: #665300;
}

.sidebar {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 160px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}
